.FrontHome{
    
}

.FrontHome__container{
    min-height: 100%;
}
.FrontHome__image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
}

.FrontHome__banner{
    width: 100%;
    min-height: 600px;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg');
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0)); */
}

.FrontHome__slag{
    padding-top: 15%;
    padding-bottom: 15%;
    align-items: center;
    /* padding-left: 15%; */
    /* justify-content: center; */
    width: 100%;
    /* height: 75%; */
    
    background-position-x: 75%;
    /* margin-bottom: -75% !important;     */
}
.FrontHome__words{
    padding-left: 15%;
    font-weight: 600;
    color: white;
    font-style: italic;
    font-size: 48px;
}
.FrontHome__slagsmall{
    font-size: 28px;
    font-style: normal;
    font-weight: 200;
}

.FrontHome__stat {
    /* display: flex; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #039be5;
    height: 300px;
    justify-content: center;

}

.FrontHome__statBox{
    
}

.FrontHome__horizons{
    align-items: center;
    justify-content: center;
    /* justify-items: center !important; */
    /* background-image: url('../img/pattern1.png'); */
    width: 100%;
    height: 300px;
    /* text-align: center ; */
    background-color: #f0f0f0;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* margin: 0 calc(50% - 50vw); */
    padding: 50px 0;
}

.FrontHome__horizonsHeading{
    text-align: center;
    color: #626262;
    font-family: "Google Sans", "Arial", "sans-serif";
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    padding: 3%;
}

.FrontHome__horizonsWrite{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: #626262;
}

.FrontHome__whatsNewButton {
    text-align: center;
    align-items: center;   
}

.FrontHome__seeLatest{
    padding-top: 30px;
    padding-bottom: 30px;
}

.FrontHome__seeLatestCard{
    flex-basis: 30%;
    margin-bottom: 30px;
    text-align: left;
}
.FrontHome__seeLatestCardImg{
    border: 0;
    height: auto;
    max-width: 100%;
}
.FrontHome__seeLatestCardImgProp{
    padding-left: 2px;
    border: 0;
    height: 150px;
    width: 300px;
}

.FrontHome__seeLatestCardHeading{
    font-family: "Google Sans", "Arial", "sans-serif";
    font-size: 22px;
    letter-spacing: .5px;
    margin-bottom: 20px;
    color: #626262;
    font-weight: 600;
    padding-top: 2%;
}

.FrontHome__seeLatestCardBody{
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: #626262;
    padding-right: 10px;
    /* padding: 5%; */
}

