*{
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
